# binaries
/bin/
/dist/
# frontend
web/node_modules/
web/dist/
internal/ui/dist/
# helm
charts/agents-operator/charts/
charts/agents-operator/Chart.lock
# misc
*.test
coverage.out
.env
.DS_Store
hack/dev.env
